@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Righteous&display=swap");

.maker {
  font-family: "Press Start 2P", cursive !important;
}
.maker2 {
  font-family: "Righteous", cursive !important;
}

.navround {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

body {
  background-image: url("https://r1.ilikewallpaper.net/pic/202003/blur-lines-shapes-4k-86723-2732x2732_640.jpg");
  background-size: cover;
  background-attachment: fixed;
}

body::-webkit-scrollbar {
  width: 1.1rem;
  background: black;
}

body::-webkit-scrollbar-thumb {
  background: rgb(68, 68, 68);
  border-radius: 10px;
  border-right: 2px solid #021b79;
}

/* body {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, black, indigo);
  background-size: 600% 100%;
  animation: gradient 6s linear infinite;
  animation-direction: alternate;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
} */

.overflow {
  height: 50%;
  overflow: hidden;
}

.overflow .card-img-top {
  transform: scale(1);
  transition: all 0.4s ease-in-out;
  border-radius: 25px;
}

.overflow .card-img-top:hover {
  transform: scale(1.2);
}

.color1 {
  color: rgb(255, 165, 0) !important;
}

.mt-6 {
  margin-top: 4.3rem;
}

.fa-envelope {
  color: red;
}
.fa-whatsapp {
  color: green;
}

#nprogress .bar {
  background: rgb(226, 2, 226) !important;
}

#nprogress .spinner-icon {
  border-top-color: rgb(226, 2, 226);
  border-left-color: cyan;
}

.glass {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 21px !important;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.bg-black {
  background: rgba(0, 0, 0, 0.4) !important;
}
.bg-black2 {
  background: rgba(0, 0, 0, 0.8) !important;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 165, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.border-wolz {
  border-color: orange !important;
  border-radius: 10px;
}

.btn-wolz {
  color: white;
  box-shadow: none;
}
.btn-wolz:hover {
  color: orange;
}

.zoom {
  transition: transform 0.6s;
}

.zoom:hover {
  transform: scale(1.01);
}
.zoom2:hover {
  transform: scale(1.2);
}
